@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: hsl(202, 61%, 36%);
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content:space-between;
	height: 60px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}
/* .top-right-links {
    position: absolute;
    top: 10px; 
    right: 10px; 
  } */
nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
    

}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		z-index: 9999;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
.front{
    content: '';
    background: url('../../Images/front.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;

    
}

.h1{
    padding: 100px 10px 10px 10px;
    text-align: center;
    color: aliceblue;
}
.h1 .blue{
    color: #1d92bc;
}
.h2{
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: aliceblue;
}
.h2 .blue{
    color: #1d92bc;
}
.buttonSL{
    display: flex;
    justify-content: center;   
}