.App {
  width: 100vw;
  height: 100vh;
  background-color: #EFEFEF;
}

body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  width: 250px;
  height: 93%;
  margin-top: 130px;
  position: fixed;
  border-radius: 0% 5% 0% 0%;
  background-color: #C9E6F5;
  
}

.Sidebarlist{
  height: auto;
  padding: 0;
  width: 100%;
}

.Sidebarlist .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #062f53;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;

}
.row #title{
  flex: 70%;
  
}
.Sidebarlist .row:hover{
  cursor: pointer;
  background-color: #e5f3fa;
}

.Sidebarlist #active{
  background-color:#010203 ;
  border-left: 2px solid #11a2d7;
}

.Header{
  height: 80px;
  background-color: #CFE2ED;
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0, 0, 0.15);
}

.Header .logo{
  
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0%;
  justify-content: space-evenly;
}
.Header .userDisplay{
  
  
  height: 100%;
  display: flex;
  align-items: center;
}
.Header .userDisplay .userDetails{
  align-items: center;
  
  line-height: 1.2%;
}
.profile1{
  
  margin-top: 80px;
  align-items: center;
  margin-left: 50px;
  position: fixed;
}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  
}
.PageContex{
  margin-top: 85px;
  margin-left: 260px;
}